.notification_main {
    z-index: 89;
    position: fixed;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: var(--divider-color);
    overflow: hidden;
    box-shadow: rgb(0, 0, 0) 0px 0px 40px;
    border-bottom: rgb(55, 55, 55) solid 1px;
}

.notification_text {
    height: auto;
    width: 100%;
    padding: 10px;

}

@media screen and (max-width: 767px) {
    .notification_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .notification_text {
        font-size: 10px;
    }
}