.popup_wrapper {
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 101;
}

.show {
    bottom: -100px;
    -webkit-animation: slide-in .5s forwards;
    animation: slide-in .5s forwards;
}

.hide {
    bottom: 30px;
    -webkit-animation: slide-out .5s forwards;
    animation: slide-out .5s forwards;
}

.popup_main {
    font-weight: light;
    display: flex;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

.popup_text {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
}

@-webkit-keyframes slide-in {
    10% {
        bottom: -100px;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes slide-in {
    10% {
        bottom: -100px;
    }



    100% {
        bottom: 30px;
    }
}

@-webkit-keyframes slide-out {
    10% {
        bottom: 30px;
    }

    100% {
        bottom: -100px;
    }
}

@keyframes slide-out {
    10% {
        bottom: 30px;
    }



    100% {
        bottom: -100px;
    }
}