.video_featured_grid {
 display: grid;
 grid-column-gap: 16px;
 grid-auto-columns: 1fr;
 grid-row-gap: 46px;
 -ms-grid-columns: 1fr;
 grid-template-columns: 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}

.video_featured_secondary_grid {
 display: grid;
 grid-auto-columns: 1fr;
 grid-column-gap: 25px;
 grid-row-gap: 16px;
 -ms-grid-columns: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}

.video_featured_wrapper {
 /*  */
 position: relative;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 color: #636268;
 text-decoration: none;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
}

.video_featured_wrapper:hover {
 color: #636268;
}

.image_wrapper {
 position: relative;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 display: flex;
}

.video_item_image {
 width: 100%;
 -o-object-fit: cover;
 object-fit: cover;

 display: inline-block;
 vertical-align: middle;
 border: 0;
 max-width: 100%;
 border-radius: 44px;
}

.video_featured_filter {
 position: absolute;
 left: 0%;
 top: 0%;
 right: 0%;
 bottom: 0%;
 border-radius: 44px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.84)));
 background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.84));
}

.video_featured_content {
 position: absolute;
 left: 32px;
 bottom: 32px;

 display: flex;
}

.video_featured_channel_image {
 width: 91px;
 max-height: 91px;
 min-height: 91px;
 min-width: 91px;
 margin-right: 20px;
 border-radius: 100000000px;
 overflow: hidden;

 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 overflow: hidden;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-transform: translate(0px, 0px);
 -ms-transform: translate(0px, 0px);
 transform: translate(0px, 0px);
}

.title {
 margin-bottom: 4px;
}
.video_featured_about {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 color: #fff;
 font-size: 20px;
 line-height: 1.1em;
 font-weight: 500;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}

.video_featured_duration {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.video_feature_about_divider {
 width: 17px;
 min-height: 1px;
 margin-right: 10px;
 margin-left: 10px;
 background-color: #fff;
 opacity: 0.5;
}

@media (max-width: 600px) {
 .video_featured_filter {
  border-radius: 20px;
 }
 .video_item_image {
  border-radius: 20px;
 }
}

@media screen and (max-width: 770px) {
 .video_featured_content {
  position: static;
 }
 .image_wrapper {
  margin-bottom: 20px;
 }
 .video_featured_about {
  font-size: 17px;
 }
}

@media screen and (max-width: 480px) {
 .video_featured_about {
  font-size: 18px;
 }
}
