.input_text {
    min-height: 56px;
    margin-bottom: 0px;
    padding-right: 19px;
    padding-left: 19px;
    border: 0px solid #000;
    border-radius: 12px;
    background-color: var(--light-grey);
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #dadadf;
    font-size: 16px;
    width: 100%;
}

.input_text:hover {
    background-color: var(--light-grey);
}