.notification {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 100;
 animation: pulse ease 1s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 /* display: none; */
}

@keyframes pulse {
 0% {
  transform: scale(1);
 }
 50% {
  transform: scale(1.1);
 }
 100% {
  transform: scale(1);
 }
}

.notification_container {
 position: absolute;
 padding: 30px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 50%;
 height: 50%;
 background-color: var(--divider-color);
 border-radius: 25px;
 box-shadow: 0px 0px 10px #000;
 overflow: scroll;
}

.notification_container::-webkit-scrollbar {
 display: none;
}

.notification_content {
 text-align: center;
}

.notification_title {
 top: 0;
 position: sticky;
 background-color: var(--divider-color);
 font-size: 28px;
 font-weight: 700;
}

.message_wrapper {
 /* height: 300px; */
 text-align: left;
 position: relative;
 overflow: hidden;
}
.message_wrapper::before {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0;
 /* background: linear-gradient(transparent 150px, var(--divider-color)); */
}
.notification_message {
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 padding: 10px 0;
}
.notification_buttons {
 position: sticky;
 bottom: 0;
}

@media screen and (max-width: 768px) {
 .notification_container {
  width: 90%;
  height: auto;
 }
}

@media screen and (max-width: 550px) {
 .notification_container {
  font-size: 15px;
  width: 90%;
  height: 90%;
 }
}
