.loading {
 position: fixed;
 height: 100%;
 width: 100%;
 top: 10px;
 left: 0;
 background: var(--background-color);
 z-index: 101;
 transition: transform 3s ease;
}
.active {
 transform: translateY(calc(100% + 10px));
}

.loading_title {
 font-size: 60px;
 color: #fff;
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.loading_progress {
 height: 11px;
 background: var(--background-color);
 top: -11px;
 bottom: 0;
 width: 100%;
 position: absolute;
 animation: verticalflapup 1s;
}

@keyframes verticalflapup {
 0% {
  transform: translateX(0%);
 }
 100% {
  transform: translateX(100%);
 }
}
@keyframes identifier {
 0% {
  transform: translateY(calc(0% + 0px));
 }

 10% {
  transform: translateY(calc(0% + 0px));
 }
 20% {
  transform: translateY(calc(0% + 0px));
 }
 80% {
  transform: translateY(calc(0% + 0px));
 }
 100% {
  transform: translateY(calc(100% + 10px));
 }
}
