.image_container_1 {
 border: 6px solid #ff0000;
 border-radius: 20px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 height: 250px;
 overflow: hidden;
 width: 250px;
}

.image_container_2 {
 border: 6px solid #ff0000;
 border-radius: 20px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 height: 250px;
 overflow: hidden;
 width: 250px;
}

.image_container_2 img {
 border-radius: 14px; /* 20px border radius - 6px border */
 -moz-border-radius: 14px;
 -webkit-border-radius: 14px;
 height: 250px;
 width: 250px;
}

.image_active {
 border-radius: 20px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 transform: scale3d(1.04, 1.04, 1);
}
.image_inactive {
 border-radius: 20px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 transform: scale3d(1, 1, 1);
}
.icon_active {
 transform: scale3d(0.92, 0.92, 1);
}
.icon_inactive {
 transform: scale3d(1.08, 1.08, 1);
}
