.product_wrapper {
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product_images {
    margin-right: 50px;
    width: 50%;
}

.product_details {
    width: 50%;
}

.main_image_wrapper {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 5px;
    border-radius: 40px;
    background-color: var(--divider-color);
    margin-bottom: 10px;
}

.product_description {
    color: var(--light-grey-color)
}

.thumbnail_images_grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.thumbnail_image_wrapper {
    padding: 5px;
    border-radius: 23px;
    background-color: var(--divider-color);
}

.activeThumb {
    border: 2px solid #ffff;
}


/* Product Detials */
.product_name {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--bold-primary-font);
    margin-bottom: 10px;
}

.product_price {
    align-items: center;
    display: flex;
}

.actual_price {
    margin-right: 16px;
    color: #b9babf;
    font-size: 18px;
    line-height: 1.111em;
    text-decoration: line-through;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Select Size */

.size_selector_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.size_selector_item_text {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--divider-color);
    width: 40px;
    height: 40px;
    font-weight: bold;
}

.size_selector_item_text_selected {
    border: 2px solid #ffff;
}

.size_selector_product_not_instock {
    color: #b9babf;
    border: 2px dashed #b9babf;
    border-style: dashed;

}


/* Cart */
.quantity_label {

    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantity_input_wrapper {
    border-radius: 10px;
    padding: 3px;
    background-color: var(--divider-color);
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
    margin-bottom: 20px;
}

.quantity_input_button {
    cursor: pointer;
    padding: 5px 10px 3px 10px;

}

.product_add_to_cart {
    width: 100%;
}

/* Delivery to pincode */
.input {
    color: #ffff;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.input:focus {
    color: #ffff;
    outline: none;
}

.delivery_to_pincode_lables {
    display: flex;
}

.delivery_to_pincode_icon {
    margin-right: 10px;
}

.delivery_to_pincode_input {
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    background-color: var(--divider-color);
    width: fit-content;
    margin-bottom: 20px;
}

.delivery_to_pincode_btn {
    cursor: pointer;
}

/* ABOUT PRODUCT TABS  */
.about_product_tabs {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 20px;
}

.product_tab {
    padding: 16px 24px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.active_tab {
    background-color: var(--divider-color);
}

.about_product_tab_content {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--divider-color);
}

.product_tab_content {
    padding: 0px 20px;
    width: 100%;
}

.product_tab_content_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Service */



.service_title {
    margin-bottom: 80px;
    width: 100%;
}

.service_title_text,
.service_sub_title {
    padding: 0px 10px;
    text-align: center;
    margin: 0;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.service_sub_title {
    margin-bottom: 20px;
}

.service_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.service_list_item {
    padding: 50px;
    margin-right: 10px;
    border-radius: 30px;
    background: var(--divider-color);
}


.service_list_item_icon_wrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.service_list_item_icon {
    align-items: center;
    justify-content: center;
}


.service_list_item_content {
    align-items: center;
    text-align: center;
}

.service_list_item_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Similar Products */

.similar_products_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.similar_products_item {
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--divider-color);
}


/* 1024 */
@media screen and (max-width: 1024px) {
    .service_list_item_content {
        position: relative;
    }

    .service_list_item_icon {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (min-width: 768px) {

    .service_list_item_content {
        position: relative;
    }

    .service_list_item_title {
        font-size: 25px !important;
    }

    .service_list_item_icon {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 500px) {
    .service_list_item_title {
        font-size: 1rem;
    }

    .service_list_item_icon {
        width: 70px;
        height: 70px;

    }
}

@media screen and (max-width: 768px) {
    .about_product_tabs {
        flex-direction: column;
    }

    .product_tab {
        width: 100%;
    }

    .service_title_text {
        font-size: 1.5rem;
    }

    .size_selector_item {
        cursor: auto;
    }

    .product_wrapper {
        flex-direction: column;
    }

    .product_images {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .product_details {
        width: 100%;
    }

    .thumbnail_images_grid {
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }


}

@media screen and (max-width: 500px) {
    .service_list {
        flex-direction: column;
    }

    .service_list_item {
        width: 100% !important;
    }

    .service_list_item {
        margin-right: 0;
        margin-bottom: 60px;
    }
}