.main {
 overflow: hidden;
 width: inherit;
 height: 100%;
 background-color: var(--grey-color);
 border-radius: 40px;
}
.buy_merch {
 padding: 60px 45px;
 display: block !important;
}

.oneblock {
 margin: 0;
 align-items: center;
 display: flex;
}

.title {
 margin-top: 5px;
 margin-bottom: 10px;
 font-size: 27px;
}

.sub_title {
 margin: 0;
 color: var(--light-grey-color);
}

.temp_alert {
 font-size: 10px;
 margin-top: 15px;
 display: flex;
 padding: 1px 5px 1px 5px;
 width: inherit;
 height: auto;
 background-color: #3c366b;
 border-radius: 100px;
 transition: all 0.3s ease-in-out 0s;
}
.temp_type_alert {
 justify-content: center;
 font-size: 10px !important;
 padding: 0px 20px 0px 20px;
 border-radius: 100px;
 text-transform: uppercase;
 width: fit-content;
 height: auto;
 margin: 6px;
 background-color: #434190;
}
.temp_alert_text {
 width: 100%;
}

.cross_btn {
 right: 10px;
 position: relative;
 cursor: pointer;
 padding-right: 5px !important;
}

.merch_gallery {
 align-items: center;
 width: 572px;
 align-items: center;
 margin-bottom: -98px;
}

.merch_gallery_top_grid {
 -ms-grid-columns: 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
 padding-bottom: 20px;
}
.merch_gallery_bottom_grid {
 -ms-grid-columns: 1fr 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}

.merch_gallery_item {
 background-color: var(--light-dark-color);
 border-radius: 10px;
 padding: 5px !important;
}

@media screen and (max-width: 900px) {
 .temp_alert_text {
  font-size: 14px;
 }
}

@media screen and (max-width: 834px) {
 .temp_alert_text {
  font-size: 10px;
 }
}
@media screen and (max-width: 430px) {
 .temp_alert_text {
  font-size: 9px;
 }
}

@media screen and (max-width: 520px) {
 .buy_merch {
  padding: 40px 25px;
 }
}
