.image_wrapper {
 position: relative;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 display: flex;
}

.video_item_image {
 width: 100%;
 -o-object-fit: cover;
 object-fit: cover;

 display: inline-block;
 vertical-align: middle;
 border: 0;
 max-width: 100%;
 border-radius: 44px;
}
.video_filter {
 position: absolute;
 left: 0%;
 top: 0%;
 right: 0%;
 bottom: 0%;
 border-radius: 44px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.84)));
 background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.84));
}

.video_content {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-box-flex: 1;
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}
.title {
 margin-top: 10px;
 margin-bottom: 4px;
}
.video_about {
 display: flex;
 vertical-align: middle;
 align-items: center;
 color: #fff;
 font-size: 20px;
 line-height: 1.1em;
 font-weight: 500;
 letter-spacing: 0.06em;
 color: var(--light-grey-color);
 text-transform: uppercase;
}

.video_duration {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.video_about_divider {
 width: 17px;
 min-height: 5px;
 margin-right: 10px;
 margin-left: 10px;
 width: 5px;
 border-radius: 50%;
 background-color: var(--light-grey-color);
}

@media screen and (min-width: 990px) and (max-width: 3000px) {
 .title {
  font-size: 20px;
 }
 .video_about {
  font-size: 15px;
 }
 .image_wrapper {
  margin-bottom: 20px;
 }
}

@media screen and (max-width: 990px) {
 .video_about {
  font-size: 10px;
 }
 .image_wrapper {
  margin-bottom: 20px;
 }
}

@media screen and (max-width: 700px) {
 .video_about {
  font-size: 14px;
 }
 .title {
  font-size: 18px;
 }
 .image_wrapper {
  margin-bottom: 20px;
 }
}

@media screen and (max-width: 650px) {
 .video_about {
  font-size: 14px;
 }
 .title {
  font-size: 18px;
 }
 .image_wrapper {
  margin-bottom: 20px;
 }
}

@media screen and (max-width: 600px) {
 .video_about {
  font-size: 13px;
 }
 .video_filter {
  border-radius: 20px;
 }
 .video_item_image {
  border-radius: 20px;
 }
}

@media screen and (max-width: 480px) {
 .video_about {
  font-size: 12px;
 }
}
