.support_channel_grid {
 display: -ms-grid;
 display: grid;
 grid-auto-columns: 1fr;
 grid-column-gap: 50px;
 grid-row-gap: 100px;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
}

/* –––––––––––––––––––––––––––––––––––  HOME HERO ––––––––––––––––––––––––––––––––––––––– */
.home_hero {
 padding-top: 53px;
 margin-bottom: 25px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.home_hero_left {
 max-width: 460px;
 display: flex;
 margin-bottom: 28px;
}

.home_hero_right {
 margin-bottom: 35px;
}

.home_hero_channel_image {
 stroke: black;
 stroke-width: 8;
 stroke-dasharray: 288.5;
 max-height: 91px;
 min-width: 91px;
 margin-right: 20px;
 padding: 3px;
 border-radius: 100px;
 background: conic-gradient(#f58529, #feda77, #dd2a7b, #515bd4, #8134af, #f58529);
}

.channel_image {
 border-radius: 100px;
}

.home_hero_channel_about {
 display: grid;
}

.image {
 width: 100%;
 -o-object-fit: cover;
 object-fit: cover;
 display: inline-block;
 max-width: 100%;
 border: 0;
 vertical-align: middle;
}

.channel_about_content_top {
 display: flex;
 margin-bottom: 8px;
 /* justify-content: space-between; */
 flex-wrap: wrap-reverse;
 align-items: center;
}
.subscriber_count {
 padding: 9px 22px;
 border-radius: 100px;
 background-color: #1e1f24;
 font-size: 13px;
 line-height: 1.154em;
 font-weight: 900;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}
.title {
 font-weight: lighter;
 font-size: 29px;
 margin: 0;
 margin-right: 10px;
}
.bold {
 font-family: "THICCCBOI-Bold";
}

.about {
 margin: 0;
}
.mobile_about {
 display: none;
}

/* -–––––––––––––––––––––––––––––– FEATURED VIDEO –––––––––––––––––––––––––– */
.video_featured_grid {
 display: grid;
 grid-column-gap: 16px;
 grid-auto-columns: 1fr;
 grid-row-gap: 46px;
 -ms-grid-columns: 1fr;
 grid-template-columns: 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}
.video_featured_secondary_grid {
 display: grid;
 grid-auto-columns: 1fr;
 grid-column-gap: 25px;
 grid-row-gap: 16px;
 -ms-grid-columns: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}
.video_featured_secondary_wrapper {
 display: flex;
 min-height: 100%;
}
.video_featured_wrapper {
 position: relative;
 display: flex;
 color: #636268;
 text-decoration: none;
 flex-direction: column;
}

.image_wrapper {
 position: relative;
 transform: translateZ(0);
 justify-content: center;
 align-items: center;
 display: flex;
 overflow: hidden;
 border-radius: 45px;
}
.video_item_image {
 width: 100%;
 transition: all 0.3s ease-in-out;
}

.video_featured_filter {
 position: absolute;
 left: 0%;
 top: 0%;
 right: 0%;
 bottom: 0%;
 background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
 background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 1));
}
.video_featured_content {
 position: absolute;
 left: 32px;
 bottom: 32px;
 display: flex;

 align-items: center;
}
.video_featured_channel_image {
 border-radius: 100px;
 overflow: hidden;
}
.video_featured_title {
 margin-bottom: 4px;
}
.video_featured_about {
 display: flex;

 align-items: center;
 color: #fff;
 font-size: 20px;
 line-height: 1.1em;
 font-weight: 500;
 letter-spacing: 0.06em;
}
.video_featured_duration {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}
.video_about_divider {
 width: 17px;
 min-height: 5px;
 margin-right: 10px;
 margin-left: 10px;
 width: 5px;
 border-radius: 50%;
 background-color: var(--white-color);
}
.video_featured_text {
 position: absolute;
 top: 32px;
 right: 41px;
 padding: 18px 22px;
 border-radius: 12px;
 background-color: rgba(0, 0, 0, 0.65);
 color: #fff;
 line-height: 1.125em;
 font-weight: 500;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}

.video_featured_button_wrapper {
 width: 50px;
 height: 50px;
 box-shadow: 0 14px 44px 0 rgb(0 0 0 / 45%);
 position: absolute;
 overflow: hidden;
 justify-content: center;
 align-items: center;
 border-radius: 1000000000px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.64)), color-stop(71%, hsla(0, 0%, 100%, 0)));
 background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.64), hsla(0, 0%, 100%, 0) 20%);
 box-shadow: 0 8px 25px 0 rgb(0 0 0 / 45%);
 transition: all 0.2s ease-in-out;
}

.video_featured_button {
 position: absolute;
 left: 0%;
 top: 0%;
 right: 0%;
 bottom: 0%;
 display: flex;
 justify-content: center;
 align-items: center;
 border-style: solid;
 border-width: 1px;
 border-color: hsla(0, 0%, 100%, 0.49);
 border-radius: 100%;
 background-color: hsla(0, 0%, 100%, 0.32);
}

.video_featured_button_icon_wrapper {
 width: 32%;
 height: 32%;
}

.video_featured_button_icon_big {
 width: 100%;
 height: 100%;
}
.image_active {
 transform: scale3d(1.04, 1.04, 1);
}
.image_inactive {
 transform: scale3d(1, 1, 1);
}
.icon_active {
 transform: scale3d(0.92, 0.92, 1);
}
.icon_inactive {
 transform: scale3d(1.08, 1.08, 1);
}

/* –––––––––––––––––––––––––––––– LATEST VIDEOS ––––––––––––––––––––––––––– */
.latest_video_grid {
 display: -ms-grid;
 display: grid;
 grid-auto-columns: 1fr;
 grid-column-gap: 23px;
 grid-row-gap: 40px;
 -ms-grid-columns: 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}

.latest_videos_arrow_link_icon {
 transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
 transform-style: preserve-3d;
}

.home_latest_videos {
 padding-bottom: 40px;

 display: flex;

 justify-content: space-between;

 align-items: center;
}

.latest_videos_right {
 margin-bottom: 10px;
}

.latest_videos_arrow_link {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 color: #fff;
 line-height: 1.125em;
 font-weight: 500;
 text-decoration: none;
}
.latest_videos_arrow_link_text {
 margin-right: 7px;
}
.latest_videos_title {
 margin-bottom: 0px;
}

.latest_videos_left {
 margin-right: 30px;
 margin-bottom: 10px;
}

/* –––––––––––––––––––––––––––––– SUBSCRIBER TO MY CHANNEL –––––––––––––––– */
.subscribe_to_my_channel {
 padding: 60px 45px;
 background-color: var(--grey-color);
 width: inherit;
 height: 100%;
 border-radius: 40px;
}
.subscribetext {
 margin: 0px;
}
.subscribetext_sub {
 font-family: var(--regular-primary-font);
 color: var(--light-grey-color);
}

.subscribe_button {
 padding-bottom: 40px;
}

/* –––––––––––––––––––––––––––––– BUY MERCH –––––––––––––––––––––––––––––– */
.merch_main {
 overflow: hidden;
 width: inherit;
 height: 100%;
 background-color: var(--grey-color);
 border-radius: 40px;
}
.buy_merch {
 padding: 20px 45px;
 display: block !important;
}

.merch_oneblock {
 margin: 0;
 align-items: center;
 display: flex;
}

.merch_title {
 margin-top: 5px;
 margin-bottom: 10px;
 font-size: 27px;
}

.merch_sub_title {
 margin: 0;
 color: var(--light-grey-color);
}

.merch_gallery {
 align-items: center;
 width: 572px;
 align-items: center;
 margin-bottom: -98px;
}

.merch_gallery_top_grid {
 -ms-grid-columns: 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
 padding-bottom: 20px;
}
.merch_gallery_bottom_grid {
 -ms-grid-columns: 1fr 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;
}

.merch_gallery_item {
 background-color: var(--light-dark-color);
 border-radius: 10px;
 padding: 5px !important;
}

.buy_merch_notice {
 font-size: small;
 text-align: center;
 margin: 0;
 padding: 10px 40px 10px 40px;
 background-color: var(--light-dark-color);
 /* position: relative; */
 transition: fadeInAnimation 0.2s ease-in-out;
}

/* –––––––––––––––––––––––––––––– ABOUT CHANNEL ––––––––––––––––––––––––––– */
.about_channel_grid {
 display: -ms-grid;
 display: grid;
 grid-auto-columns: 1fr;
 grid-column-gap: 23px;
 grid-row-gap: 100px;
 -ms-grid-columns: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
 -ms-grid-rows: auto;
 grid-template-rows: auto;

 align-items: center;
}

.about_shapes {
 position: absolute;
 left: 50px;
 z-index: 1;
}

.about_images_bg_wrapper {
 width: 500px;
 height: 500px;
 position: absolute;
 left: 50px;
}
.about_images_bg {
 width: 500px;
 height: 500px;
 position: relative;
 left: 0px;
 top: 0px;
 animation: rotate-s-loader 10s linear infinite;
}

.about_images_wrapper {
 height: 500px;
 position: relative;
}
.about_images {
 height: 500px;
 position: relative;
}
.about_image_one {
 position: absolute;
 animation: jumptwo 15s infinite linear;
}

.about_image_two {
 position: absolute;
 top: 150px;
 left: 300px;
 animation: jumpThree 15s infinite linear;
}

.about_nametext {
 font-family: var(--medium-primary-font);
 position: absolute;
 top: 200px;
 left: 50px;
 font-size: 90px;
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 transform: rotate(22deg);
}

.about_channel_left {
 height: min-content;
 vertical-align: auto;
}

@keyframes jumptwo {
 0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }

 40% {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
 }
 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }
}

@keyframes jumpThree {
 0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }

 40% {
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
 }
 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }
}

@keyframes rotate-s-loader {
 from {
  transform: rotate(0);
 }
 to {
  transform: rotate(360deg);
 }
}

@media screen and (max-width: 1000px) {
 .about_shapes {
  width: 90px;
 }
 .about_image_one {
  width: 300px;
 }
 .about_image_two {
  width: 200px;
  left: 200px;
 }
 .about_nametext {
  top: 250px;
  font-size: 50px;
 }
}

@media screen and (max-width: 990px) {
 .about_channel_grid {
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
 }
 .about_nametext {
  left: 0px;
  top: 240px;
  font-size: 50px;
 }

 .about_image_one {
  width: 300px;
 }
 .about_image_two {
  top: 150px;
  left: 150px;
 }

 .about_channel_left {
  text-align: center;
 }

 .about_shapes {
  top: 40px;
  left: 10px;
  width: 90px;
 }
}

@media screen and (max-width: 370px) {
 .nametext {
  left: 0px;
  top: 200px;
  font-size: 40px;
 }

 .image_one {
  width: 250px;
 }
 .image_two {
  top: 150px;
  left: 150px;
  width: 150px;
 }

 .about_channel_left {
  text-align: center;
 }

 .shapes {
  top: 40px;
  left: 10px;
  width: 90px;
 }
}

/* –––––––––––––––––––––––––––––– RESONSIVE –––––––––––––––––––––––––––––– */

@media screen and (max-width: 990px) {
 .support_channel_grid {
  max-width: 579px;
  margin-right: auto;
  margin-left: auto;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
 }
}

@media screen and (max-width: 900px) {
 .temp_alert_text {
  font-size: 14px;
 }
}

@media screen and (max-width: 834px) {
 .temp_alert_text {
  font-size: 10px;
 }
}

@media screen and (max-width: 800px) {
 .latest_video_grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr 1fr;
 }
}
@media screen and (max-width: 790px) {
 .home_hero_left {
  margin-bottom: 23px;
  flex-direction: column;
 }
 .home_hero {
  padding-top: 20px;

  align-items: flex-end;
  align-items: flex-end;
 }

 .channel_about_content_top {
  justify-content: flex-start;
 }

 .home_hero_channel_image {
  width: 91px;
  max-height: 91px;
  min-height: 91px;
  min-width: 91px;
  margin-bottom: 15px;
 }
 .about {
  margin-bottom: 8px;
 }
}

@media screen and (max-width: 700px) {
 .video_featured_text {
  padding: 15px 18px;
 }
 .video_featured_content {
  position: static;
 }
 .image_wrapper {
  border-radius: 25px;
  margin-bottom: 20px;
 }
 .video_featured_about {
  font-size: 17px;
 }
}
@media screen and (max-width: 650px) {
 .latest_video_grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
 }
}

/* TABLET */
@media (max-width: 600px) {
 .video_featured_text {
  top: 15px;
  right: 15px;
  padding: 13px 15px;
  font-size: 14px;
 }
 .video_featured_filter {
  border-radius: 20px;
 }
 .video_item_image {
  border-radius: 20px;
 }
 .video_featured_secondary_grid {
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
 }
 .title {
  margin-right: 0;
  font-size: 20px;
 }
}

@media screen and (max-width: 530px) {
 /* HOME HERO */
 .home_hero {
  padding-top: 20px;
  display: block;
 }
 .home_hero_left {
  flex-direction: inherit !important;
  align-items: center;
  text-align: center;
  justify-content: center;
 }
 .home_hero_right {
  display: flex;
  flex-direction: column;
 }
 .channel_about_content_top {
  align-items: center;
  display: contents;
 }
 .title {
  font-size: 25px;
  margin-bottom: 10px;
 }
 .subscriber_count {
  display: block;
 }
 .mobile_about {
  text-align: center;
  display: block;
 }
 .about {
  display: none;
 }

 .home_hero_channel_image {
  width: 90px;
  max-height: 90px;
  min-height: 90px;
  min-width: 90px;
  margin-bottom: 15px;
 }
 .video_featured_title {
  font-size: 15px;
 }
 .video_featured_channel_image {
  max-width: 70px !important;
  max-height: 70px !important;
 }

 .subscribe_to_my_channel {
  padding: 40px 25px;
  height: auto;
 }

 .subscribe_button {
  display: flex;
  flex-direction: column;
 }

 .merch_title {
  font-size: 20px;
 }
 .merch_sub_title {
  font-size: 14px;
 }

 /* .buy_merch {
  padding: 40px 25px;
 } */
}

@media screen and (max-width: 480px) {
 .video_featured_text {
  right: 15px;
  padding: 13px 15px;
  top: 10px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 12px;
 }
 .video_featured_about {
  font-size: 14px;
 }
}

@media screen and (max-width: 430px) {
 .title {
  font-weight: bold;
  font-size: 30px;
 }
 .temp_alert_text {
  font-size: 9px;
 }
}
