/* define some fonts over here */

@font-face {
 font-family: "THICCCBOI-Bold";
 src: url("../assets/fonts/THICCCBOI-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Light";
 src: url("../assets/fonts/THICCCBOI-Light.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Meduim";
 src: url("../assets/fonts/THICCCBOI-Medium.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Regular";
 src: url("../assets/fonts/THICCCBOI-Regular.ttf") format("truetype");
}

body {
 margin: 0;
 background-color: #0d0c0f;
 font-family: "THICCCBOI-Meduim";
 max-width: 100%;
 color: white;
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
a:hover {
 color: #f63434;
}
a {
 -webkit-transition: color 300ms ease;
 transition: color 300ms ease;
 color: #fff;
 text-decoration: none;
}

.container-default {
 max-width: 1152px;
 margin-right: auto;
 margin-left: auto;
 padding-right: 24px;
 padding-left: 24px;
}
@media screen and (max-width: 991px) {
 .container-default {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-right: 16px;
  padding-left: 16px;
 }
}
