/* define some fonts over here */

@font-face {
 font-family: "THICCCBOI-Bold";
 src: url("../assets/fonts/THICCCBOI-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Light";
 src: url("../assets/fonts/THICCCBOI-Light.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Meduim";
 src: url("../assets/fonts/THICCCBOI-Medium.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Regular";
 src: url("../assets/fonts/THICCCBOI-Regular.ttf") format("truetype");
}

body {
 background-color: #0d0c0f;
 font-family: "THICCCBOI-Meduim";
}
h1 {
 font-family: "THICCCBOI-Meduim";
}
