/* define some fonts over here */

@font-face {
 font-family: "THICCCBOI-Bold";
 src: url("../assets/fonts/THICCCBOI-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Light";
 src: url("../assets/fonts/THICCCBOI-Light.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Meduim";
 src: url("../assets/fonts/THICCCBOI-Medium.ttf") format("truetype");
}

@font-face {
 font-family: "THICCCBOI-Regular";
 src: url("../assets/fonts/THICCCBOI-Regular.ttf") format("truetype");
}

body {
 margin: 0;
 background-color: #0d0c0f;
 font-family: "THICCCBOI-Meduim";
 max-width: 100%;
 color: white;
 animation: fadeInAnimation ease 3s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
a:hover {
 color: #f63434;
}
a {
 -webkit-transition: color 300ms ease;
 transition: color 300ms ease;
 color: #fff;
 text-decoration: none;
}

h2 {
 margin-top: 0px;
 margin-bottom: 16px;
 color: #fff;
 font-size: 28px;
 line-height: 1.357em;
 font-weight: 700;
}
h3 {
 margin-top: 0px;
 margin-bottom: 20px;
 color: #fff;
 font-size: 22px;
 line-height: 1.455em;
 font-weight: 700;
}

.container-default {
 max-width: 1152px;
 margin-right: auto;
 margin-left: auto;
 padding-right: 24px;
 padding-left: 24px;
}

.pd-right {
 padding-right: 20px;
}
.pd-bottom {
 padding-bottom: 10px;
}

.divider {
 margin-top: 100px;
 margin-bottom: 100px;
 width: 100%;
 min-height: 1px;
 background-color: #1e1f24;
}

@media screen and (max-width: 991px) {
 .container-default {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-right: 16px;
  padding-left: 16px;
 }
}

@media screen and (max-width: 767px) {
 .pd-right {
  padding-right: 20px;
 }
 h2 {
  font-size: 26px;
 }
}

@media screen and (max-width: 480px) {
 .pd-right {
  padding-right: 10px;
 }
 h2 {
  font-size: 20px;
 }
}
